*{
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100vh;
}

.header{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #48e;
    margin-top: 4px;
}

.aside1{
    position: absolute;
    top: 60px;
    width: 39%;
    height: 300px;
    background-color: gray;
}

.main{
    position: absolute;
    top: 60px;
    right: 0;
    background-color: blue;
    width: 60%;
    height: 300px;
}

#section1 {
    position:absolute;
    top: 20px;
    right: 10px;
    background-color: white;
    width: 93%;
    height: 120px;

}
#section2{
    position:absolute;
    top: 150px;
    right: 10px;
    background-color: white;
    width: 93%;
    height: 120px;
}

.aside2{
    position: absolute;
    top: 370px;
    bottom: 10px;
    width:100%;
    height: 250px;
    background-color: red;
    
}
footer{
    position: absolute;
    top:115%;
    width: 100%;
    height: 70px;
    background-color: #48e;
    
}